.container.container--entries
  .row.center-md
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          = link_to "javascript: void(0)", class: "btn btn--entry btn--disabled" do
            %strong GET YOUR TICKET - DAY 1, 2
            %span 2019.01.15 10:00 OPEN
        .col-xs-12.col-sm-6
          = link_to "https://suzuri.jp/railsdm/1501129/t-shirt/s/white", class: "btn btn--entry" do
            %strong GET Railsdm T-SHIRTS
            %span suzuri.jp
