.timetable__section.timetable__section--session{id: "special-session"}
  %ul.category
    %li.label= link_to "KEYNOTE", "#special-session"
    %li @dhh
  %h3.title
    &quot;Ask Me Anything&quot; by DHH
  %ul.speaker
    %li David Heinemeier Hansson
  .description
    %p 参加者の皆さまから事前にご投稿いただいた質問を、Ruby on Rails の作者であるDHHに回答していただきます（通訳: Ruby/Railsコミッター 松田 明）
    %p 本セッションは、シカゴからリモート中継（LIVE）での講演となりますので、ご注意ください。
  %ul.links
    %li
      %i.fas.fa-comment
      = link_to "DHHへの質問はこちら", "https://railsdm.herokuapp.com/issues/110"
