%ul.summary
  %li
    <strong>2019.03.22</strong>, <strong>2019.03.23</strong>
  %li
    %i.fas.fa-map-marker-alt
    Oracle Corporation Japan
    %small
      [<a href="https://www.google.co.jp/maps/place/%E3%82%AA%E3%83%A9%E3%82%AF%E3%83%AB%E9%9D%92%E5%B1%B1%E3%82%BB%E3%83%B3%E3%82%BF%E3%83%BC/@35.6712377,139.7186517,15z/data=!4m5!3m4!1s0x0:0x98be1ce6599d4896!8m2!3d35.6712377!4d139.7186517" target="_blank">MAP</a>]
  %li
    %i.fab.fa-twitter
    = link_to "#railsdm2019", "https://twitter.com/hashtag/railsdm2019", target: "_blank"
